# Empty files
chart.py
show-graph.sh
scripts/start_track_laptop_usage.sh
update-req.sh

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.venv/
venv/

# Logs
/log/
/logs/
*.log

# IDE
.DS_Store
.idea/
.vscode/

# Temp files
tmp/
*.tmp
*.bak

# Data files
*.csv
*.txt
*.jpg
.ipynb_checkpoints/

# Aider files
.aider*
.aider*/

# Swap files
.*.swp
*.swp
